.sunny-bg {
    background: url('../images/sunny-day.gif') no-repeat center center/cover;
    animation: sunnyAnimation 10s infinite alternate ease-in-out;
  }
  
  @keyframes sunnyAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .rainy-bg {
    background: url('/images/rainy.gif') no-repeat center center/cover;
  }
  