.input{
    text-decoration: none;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    height: 25px;
    padding: 5px;
    border-radius: 5px
}
.input-icon{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: -10px;
    cursor: pointer;
}
.home-genel-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-image:url('../images/arkaplan.jpg')
}
.home-data-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.home-data-single-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.selectedDayStyle{
    border:2px solid grey;
    padding: 10px;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.konum{
    position: absolute;
    right: 605px;
    top: 89px
}
.arkaplanimage{
    background-image: url('../images/arkaplan.jpg');
}