.input{
    text-decoration: none;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
}
.input-icon{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: -10px;
    cursor: pointer;
}
.home-genel-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 624px;
}
.home-data-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}